= simple_form_for([@project, @text_resource]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :key
    = f.input :"content_#{@project.master_language}", :as => :text, :label => "Content"

  .form-actions
    = f.button :submit
