= simple_form_for([@project, @text_resource]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :key, :required => true, :wrapper_html => { :class => "key" }
    = f.input :original_content, :as => :text, :label => "Content", :required => true

  .form-actions
    = f.button :submit
