= simple_form_for([@project, @text_resource]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :key, :required => true, :wrapper_html => { :class => "key" }, :hint => "i18n key of the text, e.g. rails.rumble.welcome"
    = f.input :original_content, :as => :text, :label => "Content", :required => true, :hint => "#{humanize_locale(@project.master_language)} text to translate."

  .form-actions
    = f.button :submit
