%div.translations.index
  %h3= "Translating #{@text_resource.key}"

  %div
    Translations remaining: #{@project.text_resources.pending_translation(@locale).count}

= form_for(@text_resource, :url => translations_path(@project, @locale), :method => :post, :html => { :id => "translation-translate", :class => nil }) do |f|

  .translation-content-wrapper
    .translation-content.original
      .language
        From
        = humanize_locale @text_resource.master_language

      = f.text_area :original_content, :disabled => true

    .translation-content.new
      .language
        To
        = humanize_locale @locale

      = f.text_area :"content_#{@locale}", :id => "new-translation-content"
      %br
      %span{:class => "hint2"}
        Click on the suggestion below to use it as a draft for the translation.

      .suggestion
        Suggestion:

        %span
          = image_tag("ajax-loader.gif")

    = f.hidden_field :id

  .form-actions
    = link_to "Skip", translations_url(@project, @locale, :skip => @text_resource.id), :class => "btn"
    = f.button "Save"

:javascript
  $(function (){
    var suggestion = $('.suggestion span'),
        newTranslation = $('#new-translation-content');

    suggestion.click(function () {
      newTranslation.val(suggestion.text().trim());
    });

    $.ajax({
      url: "#{translation_suggestion_path(@project, @locale, @text_resource.id)}",
      method: 'get',
      dataType: 'json',
      success: function(data) {
        suggestion.html(data.text);
      }
    });
  });
