= form_tag(user_user_project_path(@user), :method => :put) do |f|
  .form-inputs
    %ul
      - @projects.each do |prj|
        %li
          = check_box_tag "projects_ids[]", prj.id, @user.project_ids.include?(prj.id), :id => "project_#{prj.id}"
          = label_tag "project_#{prj.id}", prj.name

  .form-actions
    = button_tag :assign
