= simple_form_for(@project, :html => {:class => 'project create'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :wrapper_html => {:class => 'name'}, :hint  => 'Please choose a nice short name for your project'

    = f.input :languages, :collection => Language.ordered.map {|l| [l.name, l.iso_code]}, :as => :check_boxes, :hint  => 'These are the languages you would like to have your text resources translated to.'

  .form-actions
    = f.button :submit
