= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

    = f.input :languages, :collection => Language.all.map {|l| [l.name, l.iso_code]}, :as => :check_boxes

  .form-actions
    = f.button :submit
