.name
  = link_to project.name, project
= "#{pluralize(project.text_resources.count, "text").gsub('  ','')} to translate"


- for language in project.languages
  = render :partial => "language", :locals => { :project => project, :language => language }

- if can? :manage, Project
  &nbsp;
  = link_to 'Edit', edit_project_path(project)
  &nbsp;
  = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
