= link_to project.name, project
= "#{pluralize(project.text_resources.count, "text")} to translate"
%br
= link_to 'Start translating', project_translate_path(project)
- if can? :manage, Project
  &nbsp; 
  = link_to 'Edit', edit_project_path(project)
  &nbsp; 
  = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
