%p
  %b Name:
  = @project.name

- if can? :manage, Project
  = link_to 'Export as YAML', export_project_path(@project, :format => 'yaml')
  \|
  = link_to 'Export as JSON', export_project_path(@project, :format => 'json')
  \|
  = link_to 'Edit', edit_project_path(@project)
  \|
= link_to 'Back', projects_path
