!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Ntranslate"
      %meta{:content => content_for?(:description) ? yield(:description) : "Ntranslate", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    .main
      .click.login-wrapper
        .login
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
          - else
            = link_to 'Login', new_user_session_path
          |
          - if user_signed_in?
            = link_to 'Edit account', edit_user_registration_path
          - else
            = link_to 'Sign up', new_user_registration_path

      .header-wrapper
        .header
          .logo
            %a{:href => root_url}
              nTranslate

          .search
            %form#form1{:action => "", :method => "post", :name => "form1"}
              %label
                %span
                  %input#textfield.keywords{:maxlength => "50", :name => "q", :type => "text", :value => "Search..."}/
                %input.button{:name => "b", :src => image_path("search.gif"), :type => "image"}/
          .menu
            = render 'layouts/navigation'

      .body
        ajkhd asjd hasjd asjd sakjdh sakjd a
        = render 'layouts/messages'
        = yield
    .footer
      .footer_resize
        %a{:href => "#"}
          %img{:alt => "picture", :border => "0", :height => "66", :src => image_path("footer_logo.gif"), :width => "217"}/
        %p.leftt
          © Copyright 2009. Your Site Name Dot Com. All Rights Reserved
          %br/
          Home | Contact | RSS
          %a{:href => "#"} Design by DreamTemplate
        .clr
      .clr