!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Ntranslate"
      %meta{:content => content_for?(:description) ? yield(:description) : "Ntranslate", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Euphoria+Script"
        = javascript_include_tag "application"
        = javascript_include_tag "/js/easySlider1.5.js"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .main
      .click.login-wrapper
        .login
          - if signed_in?
            = welcome_user
            |
            = link_to "Sign out", signout_path
          - else
            %a{:href => "/auth/github", :class => "auth_provider"}
              Sign in with Github
            = image_tag "github_32.png", :size => "32x32", :alt => "Github"
            %a{:href => "/auth/twitter", :class => "auth_provider"}
              Sign in with Twitter
            = image_tag "twitter_32.png", :size => "32x32", :alt => "Twitter"

      .header-wrapper
        .header
          .logo
            %a{:href => root_url}
              ntranslate

          - if signed_in?
            .menu
              = render 'layouts/navigation'

      .body-wrapper
        .body
          .content
            = render 'layouts/messages'
            = yield
    .footer
      .footer_resize
        =link_to "http://railsrumble.com/" do
          = image_tag("rr-logo.png")

        %p.leftt
          ntranslate. Barceloners 2012. All Rights Reserved.
          %a{:href => "mailto:ntranslate.app@gmail.com"}
            contact us
        .clr
      .clr

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35578841-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
